@namespace SchedulerApp.Pages
@page "/"
@using SchedulerApp.Modules
@inject ContentStorage content
@using MudBlazor
@using SchedulerApp.Shared.Sections
@using SchedulerApp.Shared
@using SchedulerApp.Pages
@using SchedulerApp.Shared.BaseUI
@using SchedulerApp.Shared.BaseUI.btn

@inject Constants constants

<PageTitle>SchedulerApp</PageTitle>


<HeroSection title="SchedulerApp" description="Your open-source choice for generating optimal schedules. In less than 5 minutes."
    imageLoc="/static/img/sample.png">
    <PrimaryLinkBtn link="/scheduler" t="Try now" />
</HeroSection>

<div class="flex justify-center">
    <div class="my-20 max-w-3xl">
        <UserViewSection />
    </div>
</div>


<Wiki />

<MudScrollToTop>
    <MudFab Style="background: #1976d2;" Color="Color.Primary" Class="mr-5 mb-2" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>

<AnchorScoller />

@code {
    protected override void OnInitialized()
    {
        dynamic landingPage = content.files["main"];

    }
}

