@namespace SchedulerApp.Pages
@page "/scheduler"

@using SchedulerApp.Shared.Scheduler
@using SchedulerApp.Shared.BaseUI.btn
@using SchedulerApp.Data.Scheduler
@using SchedulerApp.Modules
@using SchedulerApp.Shared

@using MudBlazor
@using Newtonsoft.Json

@inject SchedulingAPIService sAPIs
@inject Constants constants
@inject ContentStorage content
@inject Exporter exporter


@if (showLoadingCircle)
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center;align-items: center; z-index: 9999;">
        <div class="d-flex flex-column" style="align-items:center;">
            <MudText Typo="Typo.h2">Connecting to the Scheduling API</MudText>
            <MudProgressLinear Color="Color.Error" Indeterminate="true" Class="my-7" />
        </div>
    </div>
}
@if(DisplayConnectionError)
{
    <MudAlert Severity="Severity.Error">The connection to the API could not be established</MudAlert>
}
<SchedulerSection title="Start">
    <ImporterView ProblemScope="ProblemScope" OnProblemScopeChanged="value => ProblemScope = value" />
</SchedulerSection>

<SchedulerSection title="Add employees">
    <EmployeePlanner Employees="ProblemScope.Problem.Workers" OnEmployeesChanged="employees => ProblemScope.Problem.Workers = employees" />
</SchedulerSection>

<SchedulerSection title="Customize scheduling options">
    <SchedulingOptionsInputs Options="ProblemScope.Problem.Options" OnOptionsChanged="value => ProblemScope.Problem.Options = value" />

@*    <MudNumericField Variant="Variant.Filled" Label="Maximum working hours" T="double" @bind-Value="ProblemScope.Problem.MaxHoursPerWeek" Min="0" Max="100" />
*@    

    <MudSlider @bind-Value="ProblemScope.Problem.MaxHoursPerWeek" Color="Color.Info" Variant="Variant.Filled" Min="0" Max="120">
        Maximum working hours: @ProblemScope.Problem.MaxHoursPerWeek
    </MudSlider>
</SchedulerSection>

<SchedulerSection title="Add Slots">
    <SchedulerSlots ProblemScope="ProblemScope" ProblemScopeChanged="value => ProblemScope = value"/>
</SchedulerSection>

<SchedulerSection title="Solution View">
    <div class="d-flex flex-row">
        <MudButton Color="Color.Primary" OnClick="_ => FetchSolution()" Variant="Variant.Filled">Get Solution</MudButton>
        @if (showSolutionLoadingCircle)
        {
            <MudProgressCircular Color="Color.Primary" Style="height: 100%;" Indeterminate="true" Class="ml-5"/>
        }
    </div>
    <SolutionDisplay Solution="solution" Problem="ProblemScope.Problem"/>
</SchedulerSection>

<SchedulerSection title="Export problem">
    <ExporterView ProblemScope="ProblemScope" OnProblemScopeChanged="value => ProblemScope = value"/>
</SchedulerSection>

@code {
    private ProblemScope ProblemScope = new ProblemScope();

    private Solution? solution = null;

    private bool showLoadingCircle = true;
    private bool showSolutionLoadingCircle = false;
    private bool DisplayConnectionError = false;
    private string Version = string.Empty;

    private async Task FetchSolution()
    {
        showSolutionLoadingCircle = true;
        solution = await sAPIs.GetSolution(ProblemScope.Problem);
        showSolutionLoadingCircle = false;
    }

    protected override async Task OnInitializedAsync()
    {
        var version = await sAPIs.GetAPIVersion();
        if(version is null)
        {
            showLoadingCircle = false;
            DisplayConnectionError = true;
        }
        else
        {
            showLoadingCircle = false;
            Version = version;
        }
        
        dynamic schedulingPage = content.files["schedulingPage"];
    }

}
