@page "/schedulerTest"
@using MudBlazor
@using SchedulerApp.Data.Scheduler
@using SchedulerApp.Modules
@inject SchedulingAPIService sAPIs
@using SchedulerApp.Shared
@inject Constants constants
@inject ContentStorage content


<h1>Scheduler</h1>

<div>
    <MudButton OnClick="FetchAPIVersion">API Version</MudButton>
    <MudText>@version</MudText>
    <p>@state</p>
</div>



@code {
    private string version = "";
    private bool state = false;

    protected async Task FetchAPIVersion(MouseEventArgs args) {
        string? fetchResult = await Task.Run(() => sAPIs.GetAPIVersion());
        version = fetchResult == null ? "Error occured" : fetchResult;
    }

    protected override void OnInitialized()
    {
        
    }
}
