@namespace SchedulerApp.Shared.Placeholders
<div class="m-3">
    <div class="rounded-2xl flex justify-center items-center w-full h-full @padding">
        <img src="/static/img/sample.png" alt="Sample image" class="rounded-2xl">
    </div>
</div>

@code {
    [Parameter]
    public string padding { get; set; } = "p-6";

}