@namespace SchedulerApp.Shared.Scheduler
@using SchedulerApp.Modules
@using Data.Scheduler
@using System.Text;
@using System.Text.Json;

@using MudBlazor
@using Newtonsoft.Json

@inject IJSRuntime JS
@inject Exporter exporter

<div>
    <MudFileUpload T="IBrowserFile" Accept=".json" FilesChanged="UploadJson" MaximumFileCount="1" Error="ErrorDisplayed" ErrorText="@ErrorMessage">
        <ButtonTemplate>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload"
                       for="@context">
                Import JSON Schedule
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>
</div>
@code {
    [Parameter]
    public ProblemScope ProblemScope { get; set; } = default!;

    [Parameter]
    public EventCallback<ProblemScope> OnProblemScopeChanged { get; set; }

    private bool ErrorDisplayed = false;

    private string ErrorMessage = "";

    private async Task UploadJson(IBrowserFile file)
    {
        if (file.ContentType == "application/json")
        {
            var stream = file.OpenReadStream();

            try
            {
                using (var memoryStream = new MemoryStream())
                {
                    await stream.CopyToAsync(memoryStream);
                    memoryStream.Seek(0, SeekOrigin.Begin);
                    var problemScope = JsonConvert.DeserializeObject<ProblemScope>(Encoding.UTF8.GetString(memoryStream.ToArray()))!;
                    ProblemScope = problemScope;
                    await OnProblemScopeChanged.InvokeAsync(ProblemScope);
                }
            }
            catch (Exception ex)
            {
                ErrorDisplayed = true;
                ErrorMessage = ex.Message;
            }
        }
        else
        {
            ErrorDisplayed = true;
            ErrorMessage = "Submitted Json seems to be corrupted";
        }
    }

}
