@page "/ignorethis"
@using MudBlazor
@using TimeWise.Shared
@using TimeWise.Modules
@inject Constants constants
@inject ContentStorage content

<h1></h1>

<div>
    
</div>



@code {

    protected override void OnInitialized()
    {
        dynamic pagecontent = content.files["main"];

    }
}
