@namespace TimeWise.Shared.Sections
@using TimeWise.Shared.BaseUI.btn

<div class="w-screen flex justify-center mb-10">
    <div class="max-w-4xl md:grid grid-rows-2 md:grid-rows-1 md:grid-cols-2 gap-2 md:gap-4">
        <div class="flex items-center">
            <div class="mx-6 md:mx-10">
                <h1 class="text-5xl text-b600 text-white mb-4">
                    @((MarkupString)title)
                </h1>
                <p class="text-lg mb-4">
                    @((MarkupString)description)
                </p>
                <PrimaryLinkBtn link="/scheduler" t="Try now" />
            </div>
        </div>
        <div class="w-full h-full bg-cover bg-contain bg-no-repeat bg-center md:m-3 rounded-3xl" style="background-image: url('@imageLoc');">
            @ChildContent
        </div>
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public string title { get; set; } = default!;
    [Parameter]
    public string description { get; set; } = default!;
    [Parameter]
    public string imageLoc { get; set; } = default!;
}