@namespace SchedulerApp.Shared.Sections

@using MudBlazor


<article>
<div class="w-screen bg-neutral-200 flex justify-center py-20 text-neutral-900 px-6 mt-12 md:mt-0">
    <div class="max-w-3xl" id="Introduction">
        <section>
            <header>
                <MudElement HtmlTag="div">
                    <MudText Typo="Typo.h3" Class="text-b600">What is SchedulerApp</MudText>
                </MudElement>
            </header>
            <MudElement HtmlTag="div" Class="my-6">
                <MudText Class="text-b500 text-lg">
                    It's an open-source, free alternative to conventional scheduler-programs.
                    This scheduler is based on <a class="underline" href="https://en.wikipedia.org/wiki/Integer_programming" target="_blank">ILP (integer linear programming)</a>, allows for the optimal distribution of shifts among workers, and guarantees an optimal solution (within constraints).
                    It allows for complete control of the process and has adaptable constraints and objectives, as well as a simple UI to allow for fast, replicable results.
                </MudText>
            </MudElement>

                <a href="https://github.com/Jonathan-Schaefer-git/SchedulerApp" target="_blank" class="m-6">
                    <MudFab Color="Color.Primary" StartIcon="@Icons.Custom.Brands.GitHub" Style="background-color: var(--mud-palette-primary);" />
                </a>

        </section>
    </div>
</div>
</article>