@namespace TimeWise.Shared.SchedulingInputs
@using TimeWise.Data.Scheduler
@using TimeWise.Shared

@using MudBlazor


<h1 class="text-lg m-3">
    Options
</h1>


<div class="md:flex">
    <MudCheckBox Label="Ensure qualified personnel" @bind-Checked="Options.EnsureQualifiedPersonnelConstraint" Color="Color.Primary" />
    <MudCheckBox Label="Expense Minimizing" @bind-Checked="Options.ExpenseMinimizing" Color="Color.Primary" />
    <MudCheckBox Label="Cap maximum working hours" @bind-Checked="Options.MaximumWorkingHoursConstraint" Color="Color.Primary" />
    <MudCheckBox Label="No double shift" @bind-Checked="Options.NoDoubleShiftConstraint" Color="Color.Primary" />
    <MudCheckBox Label="Minimum working hours constraint" @bind-Checked="Options.MinimumWorkingHoursConstraint" Color="Color.Primary" />
    <MudCheckBox Label="Strain Minimizing" @bind-Checked="Options.StrainMinimizing" Color="Color.Primary" />
</div>

@code {

    [Parameter]
    public SchedulingOptions Options {get;set;} = new SchedulingOptions();
    [Parameter]
    public EventCallback<SchedulingOptions> OnOptionsChanged { get; set; }
}