


<div class="bg-neutral-900 rounded-xl shadow-lg p-8 m-5" style="min-height:50vh;">
    <div class="mb-8 md:mb-12">
        <h1 class="text-xl md:text-2xl text-b600">@title</h1>
    </div>
    <div class="w-full h-full flex items-center" style="min-height: 40vh;">
        <div class="w-full">
            @ChildContent
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string title { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}
